@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  background-image: url(img/123.jpg);
}

.container {
  width: 450px;
  padding: 20px;
  margin-top: 125px;
  background-color: #ffef3d;
  background-image: image(img/123.jpg);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-right: 100px;
}

h1 {
  text-align: center;
}

.question {
  font-weight: bold;
  font-size: 19px;
  margin-bottom: 10px;
}

.options {
  margin-bottom: 25px;
  font-size: 16px;

}

.option {
  display: block;
  margin-bottom: 15px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000000;
  color: #eef20b;
  border: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.button:hover {
  background-color: #48a421;
}

.result {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}

.hide{
  display: none;
}

.video{
    border-radius: 15px;
}
